.article-container {
  max-width: 1000px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}

.center {
text-align: center;
}

.publication-author-font{
  font-size: 18px;
}


